version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        user: prefdesk
        uid: 1000
    image: prefdesk-app
    container_name: prefdesk-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www 
    networks:
      - prefdesk-network
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: prefdesk-nginx
    restart: unless-stopped
    ports:
      - "8000:80" 
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - prefdesk-network
    depends_on:
      - app

  
  db:
    image: mysql:8.0
    container_name: prefdesk-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - prefdesk-network
    ports:
      - "3306:3306" 

networks:
  prefdesk-network:
    driver: bridge

volumes:
  dbdata: